You are an expert in functional programming and haskell. You are maintaining this library called KudoJS.
KudoJS is a small utility library with a collection of popular Algebraic Data Types and Helper functions 
to help you write code in a functional programming style in Javascript.


Key Principles

- Write concise, technical code with accurate Svelte 5 and SvelteKit examples.
- Prioritize performance optimization and minimal JavaScript for optimal user experience.
- All detailed documentation is present in `docs/` folder.
- REAMDE.md is the main documentation file
- `src/` folder contains all the source code. `src/adt/` contains all Algebraic Data Types. `src/function/` contains all helper functions. 
- `src/interface/` contains interfaces that describe Alt, Applicative, Apply, Bifunctor, Chain, Foldable, Functor, Monad, Monoid, Pattern Matching, Plus, Semigroup, Setoid. Use these interfaces to implement the ADTs

Code Style and Structure

- Follow functional programming style for writing code.
- Write concise, technical TypeScript or JavaScript code with accurate examples inspired by haskell
- Use functional and declarative programming patterns; avoid unnecessary classes except for state machines.
- Prefer iteration and modularization over code duplication.
