tmp/*
node_modules/*
*.log
.DS_Store
*/.DS_Store
.idea/
.vscode
build_stats.html
coverage/*
.rpt2_cache
*/.rpt2_cache
.nyc_output
*/.nyc_output
dist/*
adt/*
function/*
interface/*
*.d.ts
*.js
*.js.map
.cursorrules
site/*
