tmp/*
*.log
.DS_Store
*/.DS_Store
.idea/
.vscode
build_stats.html
coverage/*
.rpt2_cache
*/.rpt2_cache
.nyc_output
*/.nyc_output
*.test.ts
.npmignore
dist
docs
.babelrc
.eslintignore
.eslintrc.js
.editorconfig
.prettierrc.json
commitlint.config.js
tsconfig.json
rollup.config.js
src
.github/*
.nycrc