---
  env:
    browser: true
    node: true

  globals:
    SyntheticEvent: false
    SyntheticMouseEvent: false
    SyntheticKeyboardEvent: false
    SyntheticDragEvent: false
    $Keys: false
    $FlowFixMeState: false
    __DEBUG__: false

  rules:

    ##### ECMAScript 6 #####

    no-var: 2                    # require let or const instead of var (off by default)
    generator-star: 0            # enforce the position of the * in generator functions (off by default)
    prefer-template: 2           # suggest using template literals instead of string concatenation
    prefer-arrow-callback: 1     # suggest using arrow functions as callbacks
    arrow-spacing: 2             # require space before/after arrow function’s arrow

